body{
    margin: 50px;
    background-color: bisque;
}
.image__container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
}
.image__card{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;

}